.title-strip {
	margin: 0 (-(@gutter-size + 10));
	padding: 0 (@gutter-size + 10);
	background-color: #909090;
	color: @color-2;
	font-variant: small-caps;
}

.content {
	p,h1,h2,h3,h4,h5,h6,.highlight,ul,ol {
		margin: @computed-line-height 0;
	}

	h1,h2,h3,h4,h5,h6 {
		.title-strip;
	}

	blockquote {

	}

	ul {
		display: table;
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
	}

	.alignright {
		float: right;
		margin-left: (@gutter-size / 2);
	}

	.alignleft {
		float: left;
		margin-right: (@gutter-size / 2);
	}

	img {
		max-width: 100%;
	}

	a {
		color: @color-2;
		text-shadow: 0 0 2px #000;
	}

	.highlight {
		padding: @gutter-size;
		outline: 1px dashed @color-2;
		overflow-x: auto;
	}

	.post-preview {
		clear: both;
	}
		.post-preview__header {
			.title-strip;
		}

		.post-preview__title {
			font-size: 2em;
			text-decoration: none;
		}

			.post-preview__title:hover {
				text-decoration: underline;
			}

		.post-preview__date {
			color: @main-font-color;
		}
}