.page__sub-title {
	font-size: 0.6em;
}

.page__header,
.page__footer {
	padding: @gutter-size;
	background-color: @color-1;
	color: @color-2;
	min-height: (2 * @computed-line-height);

	transition: opacity 1s;
	opacity: 1.0;

	&:hover {
		opacity: 1.0;
	}
}