.page__title {
	color: #909090;
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: 4em;
}

.page__sub-title {
	font-size: 0.6em;
}

.page__header,
.page__footer {
	padding: @gutter-size;
	background-color: rgba(0,0,0,0.5);
	color: @color-2;
	min-height: (2 * @computed-line-height);

	transition: background-color 1s;

	opacity: 1.0;

	// &:hover {
	// 	background-color: @color-4;

	// 	.fx--letter-flip__letter:before {
	// 		color: @color-4;
	// 	}
	// }
}