<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>
			{% if page.title %}
				{{ page.title }} |
			{% endif %}
			{{ site.name }}
		</title>
		<meta name="viewport" content="width=device-width">

		<!-- syntax highlighting CSS -->
		<!-- <link rel="stylesheet" href="/css/syntax.css"> -->

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="page__header">
			<ul class="primary-nav">
				<li class="primary-nav__item">
					<a class="primary-nav__item-link" href="{{ site.url }}/">
						Blog
					</a>
				</li>
				<li class="primary-nav__item">
					<a class="primary-nav__item-link" href="{{ site.url }}/about">
						About
					</a>
				</li>
			</ul>
			<div class="logo">
				<span class="logo__text">
					<a class="logo__text-link fx--letter-flip" href="{{ site.url }}/">{{ site.name }}</a>
				</span>
				<div class="logo__sub-title">
					Mumbling, Rants, &amp; Musings of a Programmer
				</div>
			</div>
		</div>
		<!-- <div class="background-strips"></div> -->
		<div class="container">
			<div class="center-piece">
				<h1 class="page__title">
					{{ page.title }}
				</h1>
				<p class="page__sub-title">
					{{ page.subtitle }}
				</p>
				<div class="content">
					{{ content }}
				</div>
			</div>
		</div>
		<div class="page__footer"></div>
		<script type="text/javascript" src="{{ site.url }}/bower_components/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.url }}/js/hl-lines.js"></script>
		<script type="text/javascript" src="{{ site.url }}/js/fx--letter-flip.js"></script>
	</body>
</html>
